html {
  font-size: 20px; 
  font-family: 'Open Sans', sans-serif;background-image:url(https://cdn.pixabay.com/photo/2013/02/21/19/10/grass-84622_960_720.jpg);
  text-align: center
}
h1 {
  margin: 0;
  padding: 10px 0;    
  text-shadow: 2px 3px 1px black;
  font-size: 50px;
font-family :Bradley Hand, cursive;
color :E82F08;
    
}
h2{  padding:0 10px;
  border:3px double black;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;*
}

p, li {
  font-size: 24px;    
  line-height: 2;
  letter-spacing: 1px;
    text-align: left;
}
body {
  width: 900px;
  margin: auto auto;
  padding: 20px 20px 20px 20px;
  
}
ol{text-align: left;
}
button {
  background-color:E82F08; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
#bas{
    background-color: green;
       border: 7px solid black ;

}
#centre{
    background-color:E82F08 ;
    border: 7px solid black ;          
}
img{
    border : 7px solid black ;
    border-radius : 3px;
}
#haut{
    background-color: green;
       border: 7px solid black ;
